<!-- top advertisement -->
{{ with site.Params.advertisement }}
{{ if .enable }}
<div class="mb-4">
  <a href="{{.link_widget | absLangURL}}">
    {{ $image_widget:= resources.Get .image_widget }}
    <img loading="lazy" decoding="async" class="img-fluid w-100 rounded-4" width="336" height="280" src="{{ $image_widget.RelPermalink }}" alt="image">
  </a>
</div>
{{ end }}
{{ end }}
<!-- /advertisement -->
