body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $color-primary, $amount: 10);
  color: $white;
}

// default styles
img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus {
  color: $color-primary;
  text-decoration: none;
}

a:hover {
  color: $color-primary;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

span.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: $color-primary;
  color: $light;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
  -moz-user-select: none;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0px 10px;
  border-radius: 6px!important;
  color: $text-dark-invert !important;
  white-space: pre-wrap;
  background-color: $light-invert !important;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;

  code {
    line-height: 21px
  }
}

code {
  color: $code-color;
  margin-bottom: 0 !important;
  font-size: 100%;
}

code.caption {
  color: $text-dark !important;
  border: none;
  font-size: 80%;
  font-weight: 700;
  margin-left: 1em;
}

code.cmd::before {
  content: "➜";
  font-weight: 700;
  padding: 0 .5em;
  margin-right: .5em;
  color: $color-primary !important;
  -webkit-user-select: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &-sm {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &-title {
    margin-bottom: 35px;
    position: relative;
    z-index: 1;
  }
}

// preloader
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $body-color;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

// shape
.title-border {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: $color-primary;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

// social-icons
.social-icons {

  li {
    position: relative;
    z-index: 1;

    &:not(:last-child) {
      margin-right: 5px
    }

    &:first-child::before,
    &:last-child::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    a {
      color: $black;
      font-size: 15px;
      padding: 4px 8px;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.list-group-item {
  text-decoration: none;
  background-color: $body-color;
  border: none;
  padding: 0;
}

// pagination
.pagination {

  .prev,
  .next {
    a {
      background-color: $body-color;
      padding: 12px 10px;

      &:hover {
        background-color: $color-primary;
        color: $text-dark;
      }
    }
  }

  .page-item {
    &:not(:last-child) {
      margin-right: 12px;
    }

    &:first-child .page-link,
    &:last-child .page-link {
      border-radius: 5px;
      box-shadow: none;
    }
  }


  .page-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: $text-dark;
    border: 0;
    border-radius: 50%;
    background: transparent;
    padding: 10px 15px;

    &.active,
    &:hover {
      background-color: $color-primary;
      color: $white;
    }
  }
}

// widget
.widget {
  text-align: center;
  border: 1px solid $border-color;
  border-radius: 6px;
  padding: 30px 15px;

  @media (min-width: 1400px) {
    padding: 30px 35px;
  }

  .title-border::before {
    left: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &-title {
    margin-bottom: 45px;
  }
}

// lineads
.lineads {
  text-align: left;
  border: 1px solid $border-color;
  border-radius: 6px;
  padding: 15px 15px;

  @media (min-width: 1400px) {
    padding: 30px 35px;
  }

  .title-border::before {
    left: 10px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &-title {
    margin-bottom: 25px;
    font-weight: 700;
  }
}

// card
.card {
  padding: 0;
  border: 0;
  background-color: $body-color;
  color: $text-color;

  &-body {
    padding: 0;
  }
}

// form
.form-group {
  margin-bottom: 25px;

  label {
    line-height: 1;
    padding: 0;
    color: $text-color;
    font-family: $font-secondary;

    small {
      margin-left: .2em;
      color: $color-primary;
    }
  }

  .form-control {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-family: $font-primary;
    font-weight: 400;
    border-bottom: 1px solid $border-color;
    color: $text-color;
    padding: 0;
    height: 3em;

    &::placeholder {
      color: $text-light !important;
      font-size: .8rem;
    }

    &:focus {
      box-shadow: none;
      border-color: $color-primary;
    }
  }

  textarea {
    height: 150px !important;
  }
}

// helper classes
.bg-center {
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default,
.border {
  border-color: $border-color !important;
}

.outline-0 {
  outline: 0 !important;
}

.text-primary {
  color: $color-primary !important;
}

.text-secondary {
  color: $color-primary !important;
}

.text-black {
  color: $black !important;
}

.text-light {
  color: $text-light !important;
}

.text-dark {
  color: $text-dark !important;
}

.text-default {
  color: $text-color !important;
}

.bg-primary {
  background: $color-primary !important;
}

.bg-light {
  background: $light !important;
}

.badge {
  padding: .1em .9em;
  border-radius: 35px;
}

.badge-primary {
  background-color: $color-primary-dim !important;
  color: $white !important;
}

.font-primary {
  font-family: $font-primary !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded {
  border-radius: 6px !important;
}

.rounded-4 {
  border-radius: 10px !important;
}

.left-xxl-80 {
  @media (min-width: 1400px) {
    left: 80px !important;
  }
}

.title-linked {
  color: $text-dark;
}

// content style
.content {
  margin-bottom: 3em;

  h1,h2,h3,h4,h5,h6 {
    margin-top: 3rem;
  }

  a {
    color: $color-primary;
    text-decoration: underline;
  }

  ul {
    list-style-type: none;

    li {
      padding-left: 1.5rem;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: .5rem;
        width: .5rem;
        border-radius: 50%;
        background: $color-primary;
        left: 3px;
        top: .5rem;
      }
    }
  }

  img {
    margin-bottom: 1.5em;
  }

  p {
    color: $black;
    font-weight: 300;
  }

  blockquote {
    background-color: $light;
    border-radius: 5px;
    padding: 30px 105px;
    margin: 3em 0;

    @include tablet {
      padding: 30px 50px;
    }

    p {
      font-family: $font-primary;
      font-size: 24px;
      color: $text-dark;
      line-height: 32px;
      margin-bottom: 15px;
      position: relative;

      &::before,
      &::after {
        font-family: $font-icon;
        font-weight: 900;
        border: 0;
        position: absolute;
        font-size: 35px;
        color: $color-primary;
      }

      &::before {
        content: '\f10d';
        top: -15px;
        left: -70px;
      }

      &::after {
        content: '\f10e';
        bottom: 0;
        right: -35px;
      }

      @include tablet {
        font-size: 22px;

        &::before,
        &::after {
          font-size: 25px;
        }

        &::before {
          left: -1.35em;
          top: -0.5em;
        }
      }
    }

    h6 {
      font-size: 20px;
      color: $text-color;
      font-weight: 400;
    }
  }
}
