<div class="card">
  <!-- image path -->
  {{ $imagePath:= .Params.image }}
  {{ if $imagePath }}
  <div class="mb-4 position-relative">
    <!-- image CDN -->
    {{ if hasPrefix $imagePath "http" }}
    <img loading="lazy" decoding="async" src="{{ $imagePath | safeURL }}" alt="{{ .Title }}"
      class="img-fluid w-100 rounded-4">
    {{ else }}
    <!-- /image cdn -->
    <!-- image processing for multiple device -->
    {{ if fileExists (add `assets/` $imagePath) }}
    {{ $image:= resources.Get $imagePath }}
    {{ $imageFallback:= $image.Resize "650x" }}
    {{ $imageLG:= $image.Resize "650x webp" }}
    {{ $imageMD:= $image.Resize "600x webp" }}
    {{ $imageSM:= $image.Resize "545x webp" }}
    <a href="{{.RelPermalink}}">
      <picture>
        <source srcset="{{ $imageSM.RelPermalink }}" media="(max-width: 575px)">
        <source srcset="{{ $imageMD.RelPermalink }}" media="(max-width: 767px)">
        <source srcset="{{ $imageLG.RelPermalink }}">
        <img loading="lazy" decoding="async" class="img-fluid w-100 rounded-4" src="{{$imageFallback.RelPermalink}}"
          alt="{{.Title}}" width="{{$image.Width}}" height="{{$image.Height}}">
      </picture>
    </a>
    {{ end }}
    <!-- /image processing for multiple device -->
    {{ end }}
    <ul class="list-inline card-badge">
      {{ range .Params.categories }}
      <li class="list-inline-item">
        <a href="{{`categories/` | relLangURL}}{{. | lower | urlize}}/" class="badge badge-primary py-1">{{. | title}}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ else }}
  <div class="mb-4">
    {{ range .Params.categories }}
    <a href="{{`categories/` | relLangURL}}{{. | lower | urlize}}/" class="badge badge-primary d-inline-block">{{. | title}}</a>
    {{ end }}
  </div>
  {{ end }}
  <div class="card-body">
    <h3 class="h6">
      <a class="title-linked" href="{{.RelPermalink}}">{{.Title | markdownify}}</a>
    </h3>
    <ul class="list-inline card-meta d-flex align-items-center mb-3">
      <li class="list-inline d-flex align-items-center">
        <i class="fas fa-user me-2"></i>
        <a href="{{`about` | relLangURL}}/">{{site.Params.author}}</a>
      </li>
      <li class="list-inline d-flex align-items-center">
        <i class="fas fa-calendar me-2"></i>
        <span>{{ time.Format ":date_long" .PublishDate }}</span>
      </li>
    </ul>
    <p class="card-text mb-4">{{ .Summary }}</p>
  </div>
</div>
