{{ define "main" }}

<!--=================== success section start ===================-->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="row-g-6" align="center">
        <div class="col-lg-6 p-4 border rounded">
          <h2 class="h4 mb-5 title-border">{{ .Title | markdownify }}</h2>
          <div class="row">
            <div class="mb-3">
              <div class="content">{{.Content}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================== success section end ===================-->

{{ end }}
