@media (prefers-color-scheme: dark) {
  /*  typography */

  body {
    color: $text-color-invert;
  }

  h1 {
    color: $text-dark-invert;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-dark-invert;
  }
}
